
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Poly Books</title>
    <link rel="icon" type="image/x-icon" href="assets/img/polyBooks.png" />

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />

    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/logobook.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>

    <script src="../js/listposts.js"></script>

</head>
<body class="nav-fixed">
{{> nav_header}}
<div id="layoutSidenav">
    <!--            Sidebar-->
    {{> sidebar}}
    <!--            End Sidebar-->

    <!--          Start Content-->
    <div id="layoutSidenav_content">
        {{!-- <ul class="nav nav-tabs mt-2 mx-2 mb-2">
            <li class="nav-item">
                <a class="nav-link active text-primary" aria-current="page" href="/BookApproval">Duyệt bài đăng bán</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/AutionApproval">Duyệt bài đấu giá</a>
            </li>
        </ul> --}}
        <main>
            <!-- Main page content-->
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    Duyệt Nội Dung
                                </h1>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </header>
            <div class="container-fluid px-4 ">
                <div  id="pagesCollapseAccount" data-bs-parent="#accordionSidenavPagesMenu">
                    <nav class="nav nav-borders">
                        <a style="margin-left: 0.1px;" class="nav-link" href="/BookApproval">Duyệt bài đăng bán</a>
                        <a class="nav-link active ms-1" href="/AutionApproval">Duyệt bài đấu giá</a>
                    </nav>
                     <hr class="mt-0 mb-4" />
                </div>     
                <div class="col-sm-3">
                    <!-- Dashboard info Tai khoan moi-->
                    <div style="width: 230px;" class="card border-start-lg border-start-primary h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="uppercase fw-bold text-primary mb-3">Bài đăng bán cần duyệt</div>
                                    <div class="row">
                                        <div class="col-3"><i class="fas fa-solid fa-user fa-lg text-gray-200"></i></div>
                                        <div class="col-8 ml-1 h5 mt-1 text-red">{{documentList.length}}</div>
                                    </div>

                                </div>
                                <!--                                                <div class="ms-2"><i class="fas fa-solid fa-user fa-2x text-gray-200"></i></div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Người đăng</th>
                                <th>Tên sách</th>
                                <th>Thể loại</th>
                                <th>Bán/Miễn phí</th>
                                <th>Thời gian đăng</th>
                                <th>Xem tin</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{#each documentList}}
                                <tr>
                                    <td>
                                        {{this.seller.fullName}}
                                    </td>
                                    <td>{{this.bookName}}</td>
                                    <td>{{this.category.name}}</td>
                                    
                                    <td>
                                        <span id="salesType" class="badge bg-green-soft text-green">{{this.salesType}}</span>
                                    </td>
                                    <td>{{formatTime this.createdAt}}</td>
                                    <td>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="/AutionApproval/detail_aution/{{this._id}}"><i data-feather="eye"></i></a>
                                    </td>
                                </tr>
                            {{/each}}   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>


    <!--            End Content-->

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="js/litepicker.js"></script>
</body>
</html>