<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Poly Books</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/polyBooks.png"/>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet"/>

    <link href="/css/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/assets/img/logobook.png"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script src="/js/jscustom.js"></script>
    

</head>
<body class="nav-fixed">
{{> nav_header}}
<div id="layoutSidenav">
    <!--            Sidebar-->
    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-light">
            <div class="sidenav-menu">

                <div class="nav accordion" id="accordionSidenav">

                    <!-- Sidenav Menu Heading (Statistical)-->
                    <div class="sidenav-menu-heading">Statistical</div>
                    <!-- Sidenav Accordion (Thống kê)-->
                    <a class="nav-link" href="/Statistical">
                        <div class="nav-link-icon"><i data-feather="activity"></i></div>
                        Thống kê
                    </a>

                    <!-- Sidenav Heading (Posts)-->
                    <div class="sidenav-menu-heading">Account management</div>
                    <!-- Sidenav Accordion (Pages)-->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                       data-bs-target="#collapsePosts" aria-expanded="false" aria-controls="collapsePosts">
                        <div class="nav-link-icon"><i data-feather="grid"></i></div>
                        Quản lý tài khoản
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePosts" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">

                            <a class="nav-link" href="/RegularMembers">
                                <!--                                <div class="nav-link-icon"><i data-feather="user"></i></div>-->
                                Thành viên thường
                            </a>
                            <!-- Nested Sidenav Accordion (Posts -> AutionPost)-->
                            <a class="nav-link " href="/VipMembers">
                                <!--                                <div class="nav-link-icon"><i data-feather="star"></i></div>-->
                                Thành viên VIP
                            </a>


                        </nav>
                    </div>

                    <!-- Sidenav Heading (Aution Post)-->
                    <div class="sidenav-menu-heading">Aution Post</div>
                    <!-- Sidenav Accordion (Cửa hàng)-->
                    <a class="nav-link" href="/AutionPost">
                        <div class="nav-link-icon"><i data-feather="clipboard"></i></div>
                        Danh sách đấu giá
                    </a>

                    <!-- Sidenav Heading (Author and Pulisher)-->
                    <div class="sidenav-menu-heading">Duyệt nội dung</div>
                    <!-- Sidenav Accordion (Author)-->
                    <a class="nav-link active" href="javascript:void(0);" data-bs-toggle="collapse"
                       data-bs-target="#collapseAuthor" aria-expanded="false" aria-controls="collapseAuthor">
                        <div class="nav-link-icon"><i data-feather="align-center"></i></div>
                        Duyệt nội dung
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse show" id="collapseAuthor" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link active lift" href="/BookApproval">Duyệt bài đăng sách</a>
                            <a class="nav-link" href="/NewApproval">Duyệt bài đăng tin </a>
                        </nav>
                    </div>


                    <!-- Sidenav Heading ( Report)-->
                    <div class="sidenav-menu-heading">Report</div>


                    <!-- Sidenav Accordion (Review)-->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse"
                       data-bs-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
                        <div class="nav-link-icon"><i data-feather="flag"></i></div>
                        Quản lý report
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseReview" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" href="/PendingReport">Report chờ xử lý</a>
                            <a class="nav-link" href="/ProcessedReport">Report đã xử lý </a>
                        </nav>
                    </div>


                    <a class="nav-link " href="/AdvertisingManagement">
                        <div class="nav-link-icon"><i data-feather="award"></i></div>
                        Quản lý banner
                    </a>


                </div>
            </div>

        </nav>
    </div>

    <!--            End Sidebar-->

    <!--          Start Content-->
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    Chi tết bài đăng
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                                <a onclick="confirmRedirectBookApproval()" class="btn btn-sm btn-light text-primary">
                                    <i class="me-1" data-feather="arrow-left"></i>
                                    Quay lại
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <!-- Account page navigation-->
                <div class="row">
                    <div class="col-xl-6 ">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header">Ảnh trong bài đăng</div>
                            <div class="card-body text-center">

                                <div class="slick-slider">
                                    {{#each detailAution.images}}
                                        <div>
                                            <img src="{{this}} " class="d-block h-100 w-100">
                                        </div>
                                    {{/each}}
                                </div>
                                <button type="button" class="slick-prev">Previous</button>
                                <button type="button" class="slick-next">Next</button>
                                <div class="slick-dots"></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Chi tiết bài đăng</div>
                            <div class="card-body">
                                <form method="post" action="/BookApproval/detail_aution_approval/{{detailAution._id}}">
                                    <!-- Form Group (Tiêu đề)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername">Tiêu đề</label>
                                        <textarea class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="" disabled readonly>{{detailAution.postTitle}}</textarea>
                                    </div>
                                    <!-- Form Group (Mô tả)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername">Mô tả</label>
                                        <textarea class="form-control" id="inputUsername" type="text" placeholder="Enter your username"  rows="3" disabled readonly>{{detailAution.description}}</textarea>
                                    </div>
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (Tên sách)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputFirstName">Tên sách</label>
                                            <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="{{detailAution.bookName}}" disabled readonly/>
                                        </div>
                                        <!-- Form Group (Tác giả)-->
                                         <div class="col-md-6">
                                            <label class="small mb-1" for="inputPhone">Tác giả</label>
                                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="{{detailAution.author.name}}" disabled readonly/>
                                        </div>
                                    </div>
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (Thể loại)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputPhone">Thể loại</label>
                                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="{{detailAution.category.name}}" disabled readonly/>
                                        </div>
                                        <!-- Form Group (Ngôn ngữ )-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputPhone">Ngôn ngữ</label>
                                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="{{detailAution.language}}" disabled readonly/>
                                        </div>
                                    
                                    </div>
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (Kích thước)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputOrgName">Kích thước</label>
                                            <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="{{detailAution.bookSize}}" disabled readonly/>
                                        </div>
                                        <!-- Form Group (Số trang)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputBirthday">Số trang</label>
                                            <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="{{detailAution.totalPage}}" disabled readonly/>
                                        </div>
                                    </div>
                                    
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (Tình trạng)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputLastName">Tình trạng</label>
                                            <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="{{detailAution.bookStatus}}" disabled readonly/>
                                        </div>
                                       
                                        <!-- Form Group (Giá bán)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputBirthday">Giá bán</label>
                                            <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="{{detailAution.price}} đ" disabled readonly/>
                                        </div>
                                    </div>
                                    <!-- Form Group (Nhà xuất bản)-->
                                    <div class="mb-3">
                                            <label class="small mb-1" for="inputBirthday">Nhà xuất bản</label>
                                            <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="{{detailAution.publisher.name}}" disabled readonly/>
                                        </div>
                                    <!-- Form Group (Địa chỉ bán)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername">Địa chỉ bán</label>
                                        <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="{{detailAution.address}}" disabled readonly/>
                                    </div>
                                    
                                    <div class="mb-3">
                                    </div>
                                    <!-- Save changes button-->
                                    {{!-- <a style="margin-top: 30px;" class="btn btn-primary" type="button" href="/AutionApproval">Duyệt bài</a> --}}
                                    <div class="card-body text-center">
                                    <button style="font-weight: bold;margin-right: 15px;" class="btn btn-primary" type="submit" name="action" value="approve">Duyệt bài</button>
                                    <button style="background: rgb(211, 211, 211); color: #949292; font-weight: bold; border: solid 1px rgb(199, 198, 198);" class="btn btn-primary" type="submit" name="action" value="reject">Không duyệt</button>
                                </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </main>
    </div>


    <!--            End Content-->

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="js/litepicker.js"></script>

<script>
    $(document).ready(function(){
        $('.slick-slider').slick({
            dots: true,
            arrows: true,
            prevArrow: $('.slick-prev'),
            nextArrow: $('.slick-next')
        });
    });
</script>

</body>
</html>