<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Poly Books</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/polyBooks.png"/>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet"/>

    <link href="/css/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/assets/img/logobook.png"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script src="/js/jscustom.js"></script>
     <script src="/js/dialogautionpost.js"></script>
    <style>
    /* Thiết lập giao diện cho thẻ input khi có thuộc tính disabled */
    .abc[disabled] {
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 6px 12px;
        color: #495057;
    }
    .error-message {
        color: red; /* Màu chữ đỏ cho thông báo lỗi */
    }
    </style>

</head>
<body class="nav-fixed">
{{> nav_header}}
<div id="layoutSidenav">
    <!--            Sidebar-->
    {{> sidebar}}
    <!--            End Sidebar-->

    <!--          Start Content-->
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    Chi tết bài đăng
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                                <a onclick="confirmRedirectBookApproval()" class="btn btn-sm btn-light text-primary">
                                    <i class="me-1" data-feather="arrow-left"></i>
                                    Quay lại
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <!-- Account page navigation-->
                <div class="row">
                    <div class="col-xl-6 ">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header">Ảnh trong bài đăng</div>
                            <div class="card-body text-center">
                                <div class="slick-slider">                                
                                        {{#each auctionData.images}}
                                        <div>
                                            <img src="{{this}} " class="d-block h-100 w-100">
                                        </div>
                                        {{/each}}                                 
                                </div>
                                <button type="button" class="slick-prev">Previous</button>
                                <button type="button" class="slick-next">Next</button>
                                <div class="slick-dots"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Chi tiết bài đăng</div>
                            <div class="card-body">
                                <form method="post" action="/AutionApproval/detail_aution/{{auctionData._id}}">
                                    <!-- Form Group (Tiêu đề)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername">Tiêu đề</label>
                                        <textarea class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="" disabled readonly>{{auctionData.postTitle}}</textarea>
                                    </div>
                                    <!-- Form Group (Mô tả)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername">Mô tả</label>
                                        <textarea class="form-control" id="inputUsername" type="text" placeholder="Enter your username"  rows="3" disabled readonly>{{auctionData.description}}</textarea>
                                    </div>
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (Tên sách)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputFirstName">Tên sách</label>
                                            <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="{{auctionData.bookName}}" disabled readonly/>
                                        </div>
                                        <!-- Form Group (Tác giả)-->
                                         <div class="col-md-6">
                                            <label class="small mb-1" for="inputPhone">Tác giả</label>
                                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="{{auctionData.author.name}}" disabled readonly/>
                                        </div>
                                    </div>
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (Thể loại)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputPhone">Thể loại</label>
                                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="{{auctionData.category.name}}" disabled readonly/>
                                        </div>
                                        <!-- Form Group (Ngôn ngữ )-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputPhone">Ngôn ngữ</label>
                                            <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="{{auctionData.language}}" disabled readonly/>
                                        </div>
                                    
                                    </div>
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (Kích thước)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputOrgName">Kích thước</label>
                                            <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="{{auctionData.bookSize}}" disabled readonly/>
                                        </div>
                                        <!-- Form Group (Số trang)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputBirthday">Số trang</label>
                                            <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="{{auctionData.totalPage}}" disabled readonly/>
                                        </div>
                                    </div>
                                    
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (Tình trạng)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputLastName">Tình trạng</label>
                                            <input class="form-control" id="statussValue" type="text" placeholder="Enter your last name" value="{{auctionData.bookStatus}}" disabled readonly/>
                                        </div>
                                       <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            const statusInput = document.getElementById("statussValue");
                                            const bookStatus = statusInput.value;
                                            if (bookStatus === "0") {
                                            statusInput.value = "Mới";
                                            } else {
                                            statusInput.value = "Cũ";
                                            }
                                        });
                                       </script>
                                        <!-- Form Group (Giá bán)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputBirthday">Giá bán</label>
                                            <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="{{auctionData.startPrice}}" disabled readonly/>
                                        </div>
                                    </div>
                                    <!-- Form Group (Nhà xuất bản)-->
                                    <div class="mb-3">
                                            <label class="small mb-1" for="inputBirthday">Nhà xuất bản</label>
                                            <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="{{auctionData.publisher.name}}" disabled readonly/>
                                        </div>
                                    <!-- Form Group (Địa chỉ bán)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername">Địa chỉ bán</label>
                                        <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="{{auctionData.address}}" disabled readonly/>
                                    </div>
                                    {{!-- <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername">Lý do không duyệt bài</label>
                                        <input class="form-control" type="text" id="reasonInput" name="reason" value="">
                                    </div> --}}
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername">Lý do không duyệt bài</label>
                                        <input class="form-control" type="text" id="reasonInput" name="reason" value="">
                                        <span class="error-message" id="reasonError"></span>
                                    </div>
                                    <!-- Save changes button-->
                                    {{!-- <a style="margin-top: 30px;" class="btn btn-primary" type="button" href="/AutionApproval">Duyệt bài</a> --}}
                                    <div class="card-body text-center">
                                    <button style="font-weight: bold;margin-right: 15px;" class="btn btn-primary" type="submit" name="action" value="duyet" onclick="approvePost()">Duyệt bài</button>
                                    <button style="background: rgb(211, 211, 211); color: #949292; font-weight: bold; border: solid 1px rgb(199, 198, 198);" class="btn btn-primary" type="submit" name="action" value="khongduyet" onclick="rejectPost()">Không duyệt</button>
                                </div>
                                </form>
                                
                                
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </main>
    </div>


    <!--            End Content-->

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="js/litepicker.js"></script>

<script>
    $(document).ready(function(){
        $('.slick-slider').slick({
            dots: true,
            arrows: true,
            prevArrow: $('.slick-prev'),
            nextArrow: $('.slick-next')
        });
    });
</script>

</body>
</html>