
<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><img style="width: 15px;height: 15px;" src="/assets/img/illustrations/profiles/menu.png"></img></button>
    <a class="navbar-brand pe-3 ps-4 ps-lg-2 text-orange" href="#">Chợ Sách</a>
    <ul class="navbar-nav align-items-center ms-auto">
        <div id="testLink" style="width: 15px;
                height: 15px;
                background-color: red;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                margin-right: -42px;
                margin-top: -15px;
                font-size: 9px;
                font-weight: bold;">
            {{totalItemCount}}
        </div>
        <li class="nav-item dropdown no-caret d-none d-sm-block me-3 dropdown-notifications">
            <a  class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i style="width: 25px;height: 25px;" data-feather="bell"></i></a>
            <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownAlerts">
                <h6 class="dropdown-header dropdown-notifications-header">
                    <i class="me-2" data-feather="bell"></i>
                    Thông báo
                </h6>
                <a id="bookLink" class="dropdown-item dropdown-notifications-item" href="/BookApproval">
                    <div></div>
                    <div class="dropdown-notifications-item-content">
                        <div style="font-size: 15px;" class="dropdown-notifications-item-content-text">Bài đăng sách chờ duyệt: <span style="color: red;font-weight: bold;">{{listBook.length}}</span></div>
                    </div>
                </a>
                <a id="documentListLink" class="dropdown-item dropdown-notifications-item" href="/AutionApproval">
                    <div></div>
                    <div class="dropdown-notifications-item-content">
                        <div style="font-size: 15px;" class="dropdown-notifications-item-content-text">Bài đấu giá chờ duyệt: <span style="color: red;font-weight: bold;">{{documentList.length}}</span></div>
                    </div>
                </a>
                <a id="reportLink" class="dropdown-item dropdown-notifications-item" href="/PendingReport">
                    <div></div>
                    <div class="dropdown-notifications-item-content">
                        <div style="font-size: 15px;" class="dropdown-notifications-item-content-text">Bài report mới: <span style="color: red;font-weight: bold;">{{listReport.length}}</span></div>
                    </div>
                </a>
                <a id="withdrawalsLink" class="dropdown-item dropdown-notifications-item" href="/BrowseWithdrawals" >
                    <div></div>
                    <div class="dropdown-notifications-item-content">
                        <div style="font-size: 15px;" class="dropdown-notifications-item-content-text">Yêu cầu rút tiền: <span style="color: red;font-weight: bold;">{{listBrowsewithdrawals.length}}</span></div>
                    </div>
                </a>
            </div>
        </li>
        <!-- User Dropdown-->
        <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="/assets/img/illustrations/profiles/profile-5.png" /></a>
            <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                
                <h6 class="dropdown-header d-flex align-items-center"> 
                    <img class="dropdown-user-img" src="/assets/img/illustrations/profiles/profile-5.png" />
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">{{userName}}</div>
                        <div class="dropdown-user-details-email">{{userEmail}}</div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <form class="dropdown-item" action="/logout" method="post">
                    <button type="submit" class="dropdown-item-icon border-0"><i data-feather="log-out" ></i>Đăng xuất</button>

                </form>
            </div>
        </li>
    </ul>
</nav>
<script type="text/javascript">
    var listBrowsewithdrawalsLength = {{listBrowsewithdrawals.length}};
    var withdrawalsLink = document.getElementById("withdrawalsLink");

    if (listBrowsewithdrawalsLength === 0) {
        withdrawalsLink.style.display = "none";
    }
</script>
<script type="text/javascript">
    var listBooks = {{listBook.length}};
    var bookLink = document.getElementById("bookLink");

    if (listBooks === 0) {
        bookLink.style.display = "none";
    }
</script>
<script type="text/javascript">
    var listReports = {{listReport.length}};
    var reportLink = document.getElementById("reportLink");

    if (listReports === 0) {
        reportLink.style.display = "none";
    }
</script>
<script type="text/javascript">
    var documentList = {{documentList.length}};
    var documentListLink = document.getElementById("documentListLink");

    if (documentList === 0) {
        documentListLink.style.display = "none";
    }
</script>
<script type="text/javascript">
    var totalItemCount = {{totalItemCount}};
    var divElement = document.getElementById("testLink");

    if (totalItemCount === 0) {
        divElement.style.display = "none";
    }
    else {
        divElement.style.display = "flex";
    }
</script>