
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Poly Books</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/polyBooks.png" />

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/logobook.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    <script src="/js/validatereport.js"></script>
    <script src="/js/dialogreport.js"></script>
    
</head>
<body class="nav-fixed">
{{> nav_header}}
<div id="layoutSidenav">
    <!--            Sidebar-->
    {{> sidebar}}
    <!--            End Sidebar-->

    <!--          Start Content-->
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    Chi tết bài báo cáo
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                                <a href="/PendingReport" class="btn btn-sm btn-light text-primary">
                                    <i class="me-1" data-feather="arrow-left"></i>
                                    Quay lại
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <!-- Account page navigation-->
                <div class="row">
                    <div class="col-xl-5">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Hình ảnh người dùng báo cáo cung cấp</div>
                                    <!-- Form Group (username)-->
                                        <div class="card-body text-center">
                                                <div class="slick-slider" >
                                                    {{#each detailReports.attachedFiles}}
                                                        <div>
                                                            <img src="{{this}}" style="width: 250px; height: 500px;margin-left: 100px;">
                                                        </div>
                                                    {{/each}}
                                                </div>
                                                <button type="button" class="slick-prev">Previous</button>
                                                <button type="button" class="slick-next">Next</button>
                                                <div class="slick-dots"></div>
                                        </div>
                                    </div>
                                </div>
                    <div style="margin-top: -23px;" class="col-xl-7">
                        <!-- Profile picture card-->
                        <div class="card mt-4 mb-xl-0">
                            <div class="card-header">Chi tiết báo cáo</div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">Người báo cáo: </label>
                                    <span style="color: red;font-weight: bold;">{{detailReports.userId.fullName}}</span>
                                </div>
                                <label class="small mb-1" for="inputUsername">Nội dung báo cáo</label>
                                <div class="mb-3 text-center">
                                    
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled readonly>{{detailReports.content}}</textarea>
                                </div>
                            </div>
                                
                        </div>
                        
                        <form method="post" action="/PendingReport/detail_report/{{detailReports._id}}" onsubmit="return validateFormReport()">
                            <div class="card mt-4 mb-xl-0">
                                <div class="card-header">Phản hồi</div>
                                <div class="card-body text-center">
                                    <input id="name" class="form-control" type="text" name="replyReport" value="{{replyReport}}" placeholder="Mời bạn nhập phải hồi">
                                    <div id="nameError" class="error-message" style="color: red; font-size: 12px;text-align: left;margin-top: 10px;"></div>
                                    <button style="font-weight: bold;margin-top: 10px;" class="btn btn-primary" type="submit" name="action" value="reply" onclick="approveButton()">Gửi phản hồi</button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!--            End Content-->

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="js/litepicker.js"></script>
<script>
    $(document).ready(function(){
        $('.slick-slider').slick({
            dots: true,
            arrows: true,
            prevArrow: $('.slick-prev'),
            nextArrow: $('.slick-next')
        });
    });
</script>
</body>
</html>