<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Poly Books</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/polyBooks.png" />

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />

    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/logobook.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    <script src="/js/jscustom.js"></script>
    <script src="/js/listmember.js"></script>
</head>
<body class="nav-fixed">
{{> nav_header}}
<div id="layoutSidenav">
    <!--            Sidebar-->
    {{> sidebar}}
    <!--            End Sidebar-->

    <!--          Start Content-->
 <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    Thông Tin Tài Khoản Cá Nhân
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                                <a onclick="confirmRedirectToRegularMembers()" class="btn btn-sm btn-light text-primary">
                                    <i class="me-1" data-feather="arrow-left"></i>
                                    Quay lại danh sách người dùng
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <!-- Account page navigation-->
                
                
                <div class="row">
                    <div class="col-xl-4">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header">Chi Tiết Tài Khoản</div>
                            <div class="card-body text-center">
                                <!-- Profile picture image-->
                                <img  class="mb-3" src="/assets/img/illustrations/profiles/profile-3.png" alt="" style="width: 150px; height: 150px; border-radius: 50%;">
                                <!-- Profile picture help block-->
                                <div class="mb-2" style="font-weight: bold;font-size: 20px;">{{itemMember.fullName}}</div>
                                <!-- Profile picture upload button-->
                                <span id="roleValue" class="badge bg-green-soft text-green">{{itemMember.role}}</span>
                                <hr style="border-top: 1px solid #000;">
                                
                                <div style="text-align: left">
                                    <label class="small text-muted mb-3">Chi Tiết</label><br>
                                    <label style="font-weight: bold;" class="small mb-1">Họ tên:</label>
                                    <span class="small mb-1">{{itemMember.fullName}}</span><br>
                                    <label style="font-weight: bold;" class="small mb-1">Email:</label>
                                    <span class="small mb-1">{{itemMember.email}}</span><br>
                                    <label style="font-weight: bold;" class="small mb-1">Số điện thoại:</label>
                                    <span class="small mb-1">{{itemMember.phone}}</span><br>
                                    <label style="font-weight: bold;" class="small mb-1">Địa chỉ:</label>
                                    <label class="small mb-1">{{itemMember.address}}</label><br>
                                    <label style="font-weight: bold;" class="small mb-1">Giới tính:</label>
                                    <label id="genderValue" class="small mb-1">{{itemMember.gender}}</label><br>
                                    <label style="font-weight: bold;" class="small mb-1">Ngày sinh:</label>
                                    <label class="small mb-1">{{itemMember.birthday}}</label><br>
                                    <label style="font-weight: bold;" class="small mb-1">Vai trò:</label>
                                    <label id="roleValue" class="small mb-1">{{itemMember.role}}</label><br>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Sửa thông tin tài khoản</div>
                            <div class="card-body">
                                <form action="" method="post" onsubmit="return validateForm()">
                                <!-- Form Group (Họ Tên)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">Họ tên</label>
                                    <input value="{{itemMember.fullName}}" name="member_name" class="form-control" id="inputUsername" type="text" placeholder="Nhập họ tên của bạn"/>
                                    <div id="fullNameError" class="error-message" style="color: red; font-size: 12px;"></div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">

                                    <!-- Form Group (email address)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="email">Email</label>
                                        <input value="{{itemMember.email}}" name="member_email" class="form-control" id="email" type="email" placeholder="Nhập email của bạn"/>
                                        <div id="emailError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>

                                    <!-- Form Group (Ngày Sinh)-->
                                    {{!-- <div class="col-md-6">
                                        <label class="small mb-1" for="inputBirthday">Ngày sinh</label>
                                        <input name="member_birthday" class="form-control" id="inputBirthday" type="date"  placeholder="Nhập ngày sinh của bạn"/>
                                        <div id="birthdayError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div> --}}
                                </div>
                                <!-- Form Group (Địa chỉ)-->
                                {{!-- <div class="mb-3">
                                        <label class="small mb-1" for="address">Địa chỉ</label>
                                        <input name="member_address" class="form-control" id="address" type="text" placeholder="Nhập địa chỉ của bạn"/>
                                        <div id="addressError" class="error-message" style="color: red; font-size: 12px;"></div>
                                </div> --}}
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">

                                    {{!-- <div class="col-md-6">
                                        <label class="small mb-1" for="gender">Giới tính</label>
                                        <input value="{{itemMember.gender}}" name="member_gender" class="form-control" id="gender" type="text" placeholder="Nhập giới tính của bạn"/>
                                        <div id="genderError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div> --}}
                                    <!-- Form Group (gender)-->
                                     <div class="col-md-6">
                                        <label class="small mb-1" for="gender">Giới tính</label>
                                            <select name="member_gender" class="form-select" id="gender">
                                                <option disabled selected>Mời bạn chọn giới tính</option>
                                                <option value="male" data-display-value="Nam">Nam</option>
                                                <option value="female" data-display-value="Nữ">Nữ</option>
                                            </select>
                                        <div id="genderError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>
                                    <!-- Form Group (Role)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="role">Vai trò</label>
                                            <select name="member_role" class="form-select" id="role">
                                                <option disabled selected>Mời bạn chọn vai trò</option>
                                                <option value="0" data-display-value="Thường">Thường</option>
                                                <option value="1" data-display-value="VIP">VIP</option>
                                            </select>
                                        <div id="roleError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                <div class="card-body text-center">
                                    <button style="font-weight: bold;margin-right: 15px;" class="btn btn-primary" type="submit">Lưu thông tin</button>
                                    <button id="cancelButton" style="background: rgb(211, 211, 211); color: #949292; font-weight: bold; border: solid 1px rgb(199, 198, 198);" class="btn btn-primary" type="button">Hủy</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer-admin mt-auto footer-light">
            <div class="container-xl px-4">
                <div class="row">
                    <div class="col-md-6 small">Copyright &copy; Your Website 2021</div>
                    <div class="col-md-6 text-md-end small">
                        <a href="#!">Privacy Policy</a>
                        &middot;
                        <a href="#!">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!--            End Content-->

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="js/litepicker.js"></script>
</body>
</html>